@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Montserrat:wght@200;300&family=Roboto+Mono:ital,wght@0,100;0,300;1,100&display=swap');

* {
    font-family: "chakra petch";

}

body {
   
    width: 99%;
    background: linear-gradient(lightblue, pink);
    /* background: linear-gradient(black, orange); */
    height: 98vh;
       
    display: flex;
    justify-content: center;

    
}

.calc-div {
    margin-top: 4rem;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    
    width: 25%;
    height: 83vh;
    background-color: rgba(0,0,0,.2);

    padding: 1rem 2rem;

    display: flex;
    flex-direction: column;

}

.screen {
    width: 100%;
    height: 150px;
    background-color: rgb(0, 0, 0, .7);    
   
    margin-bottom: 2rem;
    margin-top: 1rem;

    display: flex;
    flex-direction: column;
}

.top-text {
    display: flex;
    justify-content: right;
    text-align: right;
    margin-top: -0.5rem;
}

.small-text {
    text-align: right;
    margin-right: 1rem;
    font-size: 1.7rem;
    color: lightgreen;
}

.operand {
    color: goldenrod;
    font-size: 1.7rem;
    margin-right: 2rem;
}

.big-text {
    
    text-align: right;
    margin-right: 1rem;
    
    font-size: 2.3rem;

    color: lightblue;
    margin-top: 1rem;
}

.btn {
    border: none;
    border-radius: 10px;
    font-size: 1.8rem;

    transition: ease-in .2s;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.1);
}



.buttons {
    display: grid;
    gap: 1rem;
    grid-template-rows: repeat(5, 5rem);
    grid-template-columns: repeat(4, 2fr);

    

}

.clear {
    grid-column: 1 / 3;
    background-color: rgba(144, 238, 144, 0.3);    
    border: solid 2px lightgreen;
}

.clear:hover {
    background-color: rgba(144, 238, 144, 0.6);
}

.equals {
    grid-column: 3 / 5;
    background-color: rgba(144, 238, 144, 0.3);    
    border: solid 2px lightgreen;

}

.equals:hover {
    background-color: rgba(144, 238, 144, 0.6);
}



.operator {
    background-color: rgba(218, 165, 32, 0.2);    
    border: solid 2px goldenrod;
}

.operator:hover {
    background-color: goldenrod;
    background-color: rgba(194, 150, 39, 0.7);
}

.num {
    background-color: rgba(252, 250, 250, 0.2);
    border: solid 2px rgba(71, 70, 70, .3);
}

.num:hover {
    background-color: rgba(71, 70, 70, .2);
}

.outside {
    /* background-color: lightskyblue; */
    background-color: rgba(135,206, 250, 0.2);
    border: solid 2px lightskyblue;
    background-color: none;
}

.outside:hover {
    background-color: lightskyblue;
    background-color: rgba(135,206, 250, 0.7);
}

